extends layout

block content
  img.qrcode.pull-right.hidden-xs(src='/qr/#{asset.asset_guid}')
  .col-xs-12.col-md-10.col-md-offset-1
    +assetInfoTable(asset.address, asset.asset_guid, asset.contract, asset.publicvalue, asset.balance, asset.total_supply, asset.max_supply, asset.precision, asset.update_flags)
    hr
    .panel.panel-default.hidden-xs
      .panel-heading
        strong #{settings.locale.ex_latest_transactions}
      table.table.table-bordered.table-striped.history-table
        include ./includes/asset_history.jade
    .panel.panel-default.hidden-sm.hidden-lg.hidden-md
      .panel-heading
        strong #{settings.locale.ex_latest_transactions}
      table.table.table-bordered.table-striped
        include ./includes/asset_history.jade
    .footer-padding
            